@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo, stick, effect, srollbar;



@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.navbar {
  background-color: transparent;
  padding: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: absolute;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.brand {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  position: relative;
  padding-bottom: 5px;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #acacac;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #acacac;
}

.right-icon {
  color: #ffffff;
  transition: color 0.3s ease;
  margin: 1rem;
}

.right-icon:hover {
  color: #acacac;
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
  }

  .nav-left {
    display: none;
  }

  .right-icons {
    text-align: center;
    margin: auto;
  }
}

b {
  margin: 5px;
  background: linear-gradient(
      to right,
      #ffffff,    /* Golden accent */
      #94b7e6
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 4s ease-in-out infinite alternate;
}

@layer scrollbar {
  @property --scroller {
    initial-value: 0;
    syntax: '<number>';
    inherits: true;
  }
  @property --chroma {
    initial-value: 0;
    syntax: '<number>';
    inherits: true;
  }
  
  [data-sync-scrollbar='false'] {
    scrollbar-color: light-dark(black, white) #0000;
  }

  [data-sync-scrollbar='true'] {
    scrollbar-color: oklch(var(--lightness) var(--chroma) var(--scroller)) #0000;
  }
  @supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
    [data-sync-scrollbar='true'] {
      timeline-scope: --list;
      scrollbar-color: oklch(var(--lightness) var(--chroma, 0) var(--scroller))
        #0000;
      animation-name: change, chroma-on, chroma-off;
      animation-fill-mode: both;
      animation-timing-function: linear;
      /* animation-timeline: scroll(root); */
      animation-range: entry 50% exit 50%, entry 40% entry 50%,
        exit 30% exit 40%;
      animation-timeline: --list;
      ul {
        view-timeline: --list;
      }
    }
  }

  @keyframes change {
    to {
      --scroller: var(--end);
    }
  }
  @keyframes chroma-on {
    to {
      --chroma: 0.3;
    }
  }
  @keyframes chroma-off {
    to {
      --chroma: 0;
    }
  }
}

.hello {
  display: inline-block;
  animation: swing 2s ease-in-out infinite alternate;
  line-height: 1.33;
  margin: 5rem;
  font-size: 15px;

  @media (max-width: 1400px) {
    font-size: 50%;
  }

  @media (max-width: 768px) {
    margin: 0rem;
    margin-top: 3rem;
    margin-left: -3rem;
  }
}

@keyframes swing {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(10px) rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}



@layer effect {
  :root {
    --start: 0;
    --end: 360;
    --lightness: 65%;
    --base-chroma: 0.3;
  }
  [data-theme='dark'] {
    --lightness: 75%;
  }
  [data-theme='light'] {
    --lightness: 65%;
  }
  @media (prefers-color-scheme: dark) {
    --lightness: 75%;
  }
  ul {
    --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
  }
  li:not(:last-of-type) {
    color: oklch(
      var(--lightness) var(--base-chroma)
        calc(var(--start) + (var(--step) * var(--i)))
    );
  }

  @supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
    li {
      opacity: 0.2;
      animation-name: brighten;

      &:first-of-type {
        opacity: 1;
        animation-name: dim;
      }
      &:last-of-type {
        opacity: 0.2;
        animation-name: bright;
      }
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-range: cover calc(50% - 1lh) calc(50% + 1lh);
      animation-timeline: view();
    }

    @keyframes dim {
      0%,
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.2;
      }
    }

    @keyframes bright {
      0% {
        opacity: 0.2;
      }
      50%,
      100% {
        opacity: 1;
      }
    }

    @keyframes brighten {
      0%,
      100% {
        opacity: 0.2;
      }
      50% {
        opacity: 1;
        filter: brightness(1.2);
      }
    }
  }
}

@layer stick {
  section:first-of-type {
    --font-level: 4;
    --font-size-min: 16;
    display: flex;
    line-height: 1.25;
    width: 100%;
    padding-left: 2rem;
    @media(min-width: 768px) {
      padding-left: 5rem;
    }
  }
  section:last-of-type {
    min-height: 100svh;
    display: flex;
    place-items: center;
    width: 100%;
    justify-content: center;

    h2 {
      --font-level: 4;
      --font-size-min: 20;
    }
  }
  main {
    width: 100%;
  }
  section:first-of-type h2 {
    position: sticky;
    top: calc(50% - 0.5lh);
    font-size: inherit;
    margin: 0;
    display: inline-block;
    height: fit-content;
    font-weight: 600;
  }
  ul {
    font-weight: 600;
    padding-inline: 0;
    margin: 0;
    list-style-type: none;
  }
  html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
  }
  li {
    scroll-snap-align: center;
  }
  h2,
  li:last-of-type {
    background: linear-gradient(
      canvasText 50%,
      color-mix(in oklch, canvas, canvasText 25%)
    );
    background-clip: text;
    color: #0000;
    position: relative;
  }
}

@layer demo {
  header {
    min-height: 70svh;
    /* display: flex; */
    place-items: center;
    width: 100%;
    padding-inline: 2rem;
    text-align: center;
    @media(min-width: 768px) {
      padding-inine: 5rem;
      display: flex;
      text-align: left;
      min-height: 100svh;
    }
  }

  footer {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* Add this line first, it fixes blur for Safari*/
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 50px;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .footer-item {
    display: flex;
    align-items: center;
    margin: 20px;
    color: rgb(175, 175, 175);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-item:hover {
    color: #ffffff;
  }

  .footer-item i {
    font-size: 20px;
    margin-right: 10px;
  }

  @media (max-width: 600px) {
    .footer-item span {
      display: none;
    }
  }

  h1 {
    --font-size-min: 16;
    --font-level: 6.7;
    text-wrap: pretty;
    line-height: 0.8;
    margin: 2rem;
    background: linear-gradient(
      canvasText 60%,
      color-mix(in oklch, canvas, canvasText)
    );
    background-clip: text;
    color: #0000;
    padding: 4px;

    @media (max-width: 768px) {
      margin-top: 3rem;
    }
  }
}

@layer base {
  :root {
    --font-size-min: 14;
    --font-size-max: 20;
    --font-ratio-min: 1.1;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * .9rem,
      ((var(--fluid-min) / 16) * .9rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * .9rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * .9rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    background: light-dark(white, black);
    min-height: 100svh;
    font-family: 'Geist', 'SF Pro Text', 'SF Pro Icons', 'AOS Icons',
      'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 70%);
    content: '';
    height: 100svh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

div.tp-dfwv {
  position: fixed;
}


.card-title{
  z-index: 100;
  margin-top: 50%;
  font-size: 1.25rem;
}

:root {
    --space: 2rem;
    --bg2: #09090b;
    --fg: #e3e3e3;
    --surface-1: #101012;
    --surface-2: #27272a;
    --surface-3: #52525b;
    --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
    --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
  }
  
  @layer demo {
    section:last-of-type {
      min-height: 100svh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 4rem;
    }
  
    section:last-of-type h2 {
      --font-level: 6;
      --font-size-min: 20;
      margin-bottom: 2rem;
      font-weight: 600;
      background: linear-gradient(
        canvasText 60%,
        color-mix(in oklch, canvas, canvasText)
      );
      background-clip: text;
      color: transparent;
      position: relative;
    }
  }
  
  .card-section {
    display: grid;
    gap: var(--space);
    margin: 2rem auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
  
    /* Responsive grid layout */
    grid-template-columns: repeat(1, minmax(0, 1fr));
    
    @media (min-width: 640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  
  .card {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-areas: "card";
    place-items: center;
    aspect-ratio: 9/10;
    border: 1px solid var(--surface-2);
    border-radius: 5px;
    isolation: isolate;
    transition: border-color 200ms var(--ease-out);
    user-select: none;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 300px;
    }
  
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(
        circle at bottom left,
        transparent 55%,
        var(--surface-1)
      );
      pointer-events: none;
      box-shadow: var(--bg2) -0.5cqi 0.5cqi 2.5cqi inset;
      transition: opacity 900ms var(--ease-out);
    }
  
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      margin: auto;
      aspect-ratio: 1;
      background: radial-gradient(circle, var(--bg2), transparent 65%);
      opacity: 0;
      transition: opacity 800ms var(--ease-out);
    }
  
    > * {
      grid-area: card;
    }
  
    svg {
      position: relative;
      margin-bottom: 20%;
      z-index: 1;
      width: 30%;
      height: auto;
      color: var(--surface-3);
      transition: 300ms var(--ease-out);
      transition-property: color, scale;
    }
  
    button {
      opacity: 0;
    }
  
    &:focus-within {
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
    }
  
    &:where(:hover, :focus-within) {
      border-color: var(--active-color, var(--fg));
      transition: border-color 800ms var(--ease-in-out);
    }
  
    &:where(:hover, :focus-within) svg {
      color: var(--active-color, var(--fg));
      scale: 1.1;
      transition: 300ms var(--ease-in-out);
    }
  
    &:where(:hover, :focus-within)::before {
      opacity: 0;
    }
  
    &:where(:hover, :focus-within)::after {
      opacity: 1;
    }

  }



#projects {
  margin: 15rem 0rem;
}

.projects{
  display: grid;
  gap: 2rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 1300px;
  padding: 0 1rem;
  perspective: 1000px;
  transform-style: preserve-3d;

  /* Responsive grid layout */
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 1rem;
  }
  
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0 1rem;
  }
}

.proj {
  /* height: 415px; */
  margin: 0 auto;
  background-color: #00080f83;
  border-radius: 8px;
  z-index: 1;
  color: white;
  border: 0px solid lightblue;
  transform-style: preserve-3d;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;

  width: 100%;
  max-width: 300px;
}

.proj:hover {
  transform: rotate3d(1, 0, 0, 15deg);
  border: 1px solid lightblue;

  img {
    transform: translate3d(0px, 10px, 80px);
  }

  @media (max-width: 768px) {
    transform: rotate3d(1, 0, 0, 0deg);

    transform: scale(1.07);

    img {
      transform: translate3d(0px, 0px, 0px);
    }
  }

}

.tools {
display: flex;
align-items: center;
padding: 9px;
}

.circle {
padding: 0 4px;
}

.box {
display: inline-block;
align-items: center;
width: 13px;
height: 13px;
padding: 1px;
border-radius: 50%;
}

.red {
background-color: #ff605c;
}

.yellow {
background-color: #ffbd44;
}

.green {
background-color: #00ca4e;
}

.proj__content {
  position: relative;
  transform-style: preserve-3d;
  height: 14rem;
}

.proj__content img {
  display: block;
  margin: auto;
  width: 76%;
  margin-top: 4px;
  border-radius: 8px;
  object-fit: cover;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  transition: all 0.4s ease-in-out;
  height: 100%;
}

.front .front-content {
  width: 80%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  width: 100%;
  padding-left: 30px;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  margin: 20px 0;
  position: relative;
  transform-style: preserve-3d;
}

.title {
  font-size: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  transform-style: preserve-3d;
}

.title p {
  width: 100%;
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  transform: translateZ(50px);
}

.title p:hover {
  transform: translateZ(60px);
}

.proj-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.proj-footer a {
  font-size: 150%;
  text-decoration: none;
  color: lightgrey;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

a.fill-div {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  text-decoration: none;
  z-index: 50;
}

.badge {
  color: white;
  padding-left: 35px;
  font-weight: 600;
}


.joke{
  text-align: center;
  /* margin: 0rem 0rem 10rem 0rem; */
  padding: 2rem;
}

.variable-button
{
  position: relative;
  background: transparent;
  color: #FFF;
  border: 1px solid #27272a;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  transition: .4s;
  max-width: 15rem;
  min-height: 4.5rem;
}
.variable-button::before
{
  content: attr(data-text);
}
.variable-button:hover
{
  background: rgb(220, 220, 220);
  color: black;
  transition: .4s;
}
.variable-button:hover::before
{
  content: attr(data-texthover);
}
